useDynLib(DSTrading)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
export(CGO)
export(EhlersFilter)
export(FRAMA)
export(GFRAMA)
export(GLRSI)
export(KAMA)
export(KEMD)
export(LRSI)
export(PMA)
export(RVI)
export(SWI)
export(TVI)
export(VIDA)
export(cyberCycle)
export(fish)
export(iFish)
export(iTrend)
export(nlLaguerre)
export(CycleStoch)
export(CycleRSI)