export(CGO)
export(EhlersFilter)
export(GLRSI)
export(KAMA)
export(KEMD)
export(LRSI)
export(PMA)
export(RVI)
export(VIDA)
export(cyberCycle)
export(fish)
export(iFish)
export(iTrend)
export(nlLaguerre)
